<h1 class="text-center my-2">The answer is 42</h1>
<p class="text-center">
	<img src="https://discourse-cdn.global.ssl.fastly.net/boingboing/uploads/default/original/3X/f/c/fc88dc98e2ef611b8776937e5617bdca5f9955df.png" alt="42" class="img-responsive" style="max-height:350px">
</p>