<div class="col-sm-12 my-5">
  <div class="card card-body bg-light">
			  <h2>Vous souhaitez connaître la réponse à la question de l'univers ?</h2>
      <a href="/answer" class="btn btn-md btn-primary">Get the answer</a>
  </div>
</div>
     
