body {
  padding-top: 60px;
}
@media (min-width: 992px) {
  body {
    padding-top: 60px;
  }
}

.dropdown-link {
    color: #333;
    padding: 16px;
}

// import scss file
@import "bootswatch/sketchy/variables";
@import "bootstrap";
@import "bootswatch/sketchy/bootswatch";